.list {
    margin: 15px 0 20px;
    &__item, &__add-new-list {
        padding: 5px 10px 10px;
        margin-bottom: 10px;
        background: @listItem;
        border: 1px solid @listItemBorder;
        border-radius: 5px;
    }
    &__remove, &__card-remove, &__card-move {
        float: right;
        cursor: pointer;
        color: @black;
        transition: color .3s linear;
        &:link, &:visited, &:focus {
            color: @black;
        }
        &:hover, &:active {
            color: @red;
            text-decoration: none;
        }
    }
    &__card-move {
        margin: 0 4px 5px 5px;
    }
    &__card-remove {
        margin: 0 2px 5px 0;
    }
    &__heading {
        text-align: center;
        color: @black;
    }
    &__card, &__add-new-card {
        border-radius: 3px;
        padding: 10px 5px;
        border: 1px solid @listItemBorder;
        background: @white;
    }
    &__add-new-card {
        margin-top: 10px;
    }
}