<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Trello</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="header__heading">Trello</h1>
            </div>
        </div>
    </div>
</header>
<div class="container" ng-cloak>
    <main id="list" class="row list" ng-controller="listsCtrl as listsCtrl">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="list in listsCtrl.lists"
        ng-controller="listCtrl as listCtrl">
            <section class="list__item ">
                <a class="list__remove" ng-click="listCtrl.removeList(list.id)">&#x2716;</a>
                <h2 class="list__heading">{{ list.listName }}</h2>
                <div class="list__card" ng-repeat="card in listCtrl.getCards(list.id)">
                    {{ card.description }}
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <section class="list__add-new-list">
                <form ng-submit="listsCtrl.addList()">
                    <label for="add-new-lists">Добавить список</label>
                    <div class="input-group">
                        <input id="add-new-lists" class="form-control"
                               type="text" ng-model="listsCtrl.listName" placeholder="Введите название">
                        <span class="input-group-btn">
                            <button class="btn btn-default">Добавить!</button>
                        </span>
                    </div>
                </form>
            </section>
        </div>
    </main>
</div>

<script src="node_modules/angular/angular.min.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>