<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Trello</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="header__heading">Trello</h1>
            </div>
        </div>
    </div>
</header>
<div class="container" ng-cloak>
    <main id="list" class="row list" ng-controller="listsCtrl as listsCtrl">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="list in listsCtrl.lists"
        ng-controller="listCtrl as listCtrl">
            <section class="list__item ">
                <a class="list__remove" ng-click="listCtrl.removeList(list.id)">&#x2718;</a>
                <h2 class="list__heading">{{ list.listName }}</h2>
                <div class="list__card" ng-repeat="card in listCtrl.getCards(list.id)"
                     ng-controller="cardCtrl as cardCtrl">
                    <div ng-if="!cardCtrl.isEditing">
                        <a class="list__card-remove" ng-click="cardCtrl.removeCard(card.id)">&#x2718;</a>
                        <a class="list__card-move" ng-click="cardCtrl.editCard(card)">&#x270E;</a>
                        {{ card.description }}
                    </div>
                    <div ng-if="cardCtrl.isEditing">
                        <form ng-submit="cardCtrl.updateCard(card)" close-editing is-editing="cardCtrl.isEditing">
                            <div class="input-group">
                                <input class="form-control"
                                       type="text" ng-model="cardCtrl.editingCard.description" placeholder="Введите текст">
                                <span class="input-group-btn">
                                    <button class="btn btn-default">&#x2714;</button>
                                </span>
                            </div>
                            <select class="form-control" ng-model="cardCtrl.editingCard.listId"
                                    ng-options="list.id as list.listName for list in listsCtrl.lists">
                            </select>
                        </form>
                    </div>
                </div>
                <div class="list__add-new-card">
                    <form ng-submit="listCtrl.addCard(list.id)">
                        <label class="text-center" for="add-new-cards">Добавить карточку</label>
                        <div class="input-group">
                            <input id="add-new-cards" class="form-control"
                                   type="text" ng-model="listCtrl.description" placeholder="Введите текст">
                            <span class="input-group-btn">
                            <button class="btn btn-default">Добавить</button>
                        </span>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <section class="list__add-new-list">
                <form ng-submit="listsCtrl.addList()">
                    <label for="add-new-lists">Добавить список</label>
                    <div class="input-group">
                        <input id="add-new-lists" class="form-control"
                               type="text" ng-model="listsCtrl.listName" placeholder="Введите название">
                        <span class="input-group-btn">
                            <button class="btn btn-default">Добавить</button>
                        </span>
                    </div>
                </form>
            </section>
        </div>
    </main>
</div>

<script src="node_modules/angular/angular.min.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>